body {
  background: #201d1d;
}
.container {
  background-color: #ffffff;
}

/*! @first-section */

/*? city-location-search */

.first-section .city-location-search .city-location h6 {
  color: #ffffff;
}

/*? date-clock-weather */

.first-section .date-clock-weather {
  /* background: linear-gradient(101.56deg, #4f7ffa 17.75%, #335fd1 84.8%); */
  color: #ffffff;
  /* box-shadow: 0px 4px 40px rgba(86, 102, 141, 0.4); */
  border-radius: 12px;
  width: 100%;
}

/*! @second-section */

/*? text */

.second-section .text {
  color: #ffffff;
}

/*? dg-clock */

.second-section .dg-clock:hover::-webkit-scrollbar-thumb,
.second-section .dg-clock::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.second-section .dg-clock .dg-clock-div {
  background-color: #242425;
}

.second-section .dg-clock .dg-clock-div:hover {
  background: #1e1e1f;
}

.second-section .dg-clock .dg-clock-div .dg {
  color: #ffffff;
}

.second-section .dg-clock .dg-clock-div .hClock {
  color: #eeebeb;
}

/*! @third-section */

/*? text */

.third-section .text {
  color: #ffffff;
}

.third-section .info .info-text .info-text-head {
  color: #ffffff;
}

.third-section .info .info-text .info-text-content {
  color: #eeebeb;
}

/*! Second Page First Section */

.bg {
  background: linear-gradient(
    118.25deg,
    #4f80fa 1.2%,
    #3764d7 59.26%,
    #335fd1 79.2%
  );
}

.second-page-first-section .city-location h6 {
  color: #ffffff !important;
}

.second-page-first-section .date-clock-weather {
  color: #ffffff;
}

/*! second page third section */

.second-page-third-section .text {
  color: #ffffff;
}

.second-page-third-section .health {
  background: #242425;
}

.second-page-third-section .health .health-info .health-info-head {
  color: #ffffff;
}

.second-page-third-section .health .health-info .health-info-text {
  color: #eeebeb;
}

.humidity,
.air,
.wind,
.fog {
  background: #242425;
}

.second-page-third-section .sum {
  color: #ffffff;
}

.second-page-third-section .name {
  color: #eeebeb;
}

/*! search input */

.search-input #search-input {
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem rgba(26, 50, 95, 0.549);
  background: #242425;
  color: #ffffff;
}

#search-input:focus {
  border-bottom: 0.1rem solid #1d2723;
}

.search-start {
  background-color: #3a4e81;
  color: #eeebeb;
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem #1a325f8c;
}

.search-start:hover {
  background-color: #1f2942;
}

.search-input .current-location {
  background-color: #242425;
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem #1a325f8c;
}

.current-location:hover {
  background-color: #201d1d;
}

.close {
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem #1a325f8c;
  background-color: #692525;
  color: #f3dfdf;
}

.close:hover {
  background-color: rgb(59, 4, 4);
  color: #f3f0f0;
}

/*! alert */

#alert {
  color: #f3dfdf;
  background-color: #7c2525;
}

